
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Abel', sans-serif;
  color: #4E5B50;
}

i {
  padding-right: 3px;
}

a {
  color: #0F5D7D;
  text-decoration: none;
  margin-top: 10px;
  display: block;

}

a:hover {
    color: #98C93C;
}

a#inline {
  display: inline;
}

.container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  /*font-family: 'Khand', sans-serif;*/
  /*font-family: 'Poiret One', cursive;*/
}

#contact {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#topContacts {
  float:left;

}

#socialmedia {
  float:right;
}

/*
NAVIGATION
*/

.logo {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

.myname {
  text-align: right;
  color: #4E5B50;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Unica One', cursive;
}

.mytitle {
  text-align: right;
  color: #BABDC6;
  font-size: 30px;
  align-self: baseline;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Unica One', cursive;
}

.divider {
  color: #4E5B50;
  background-color: #4E5B50;
  height: 1px;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 16px;
  padding: 16px;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
}

.nav a {
  text-decoration: none;
  color: #4E5B50;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #0F5D7D;
}


/*
HEADER
*/

.contactList {
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding-right: 15px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #98C93C;
  line-height: 28px;
}

/*
COLORS
*/

.light-gray {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.green {
  background-color: #98C93C;
}

.green-text {
  color: #98C93C;
}

/*
TEXT
*/

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #BABDC6;
  line-height: 16px;
  display: inline-block;

}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #BABDC6;
  line-height: 16px;
  display: inline-block;
  float: right;
}

/*
BORDERS
*/

.center-content {
  padding: 1% 5%;
}

.vertical-pad {
  padding-top: 1em;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  display:list-item;
  list-style: none;
}


/*
IMAGES
*/

.projimg {
  padding: 1em;
}

.biopic {
  float: right;
  padding: 10px;
  max-width: 150px;
}

#map {
  display: block;
  height: 100%;
  margin: 5px;
}

#mapDiv {
  height: 400px;
  width: 100%;
}

/*
GRIDS
*/

.row {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
